body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4f46e5, #3b82f6);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.register-btn {
    padding: 8px 16px;
    background: #2e86de;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}

.register-btn:hover {
    background: #1b4f72;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 340px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
}

.dashboard {
    width: 550px;
    height: 90vh;
    overflow-y: auto;
}

h2 {
    margin-bottom: 15px;
}

input {
    width: 92%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
}

button:hover {
    background: #1d4ed8;
}

.error {
    color: red;
    font-size: 14px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout {
    background: #ef4444;
}

.logout:hover {
    background: #dc2626;
}

.task-form {
    margin-bottom: 15px;
}

.task {
    background: #eef2ff;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: left;
}

.task h3 {
    margin: 0 0 5px 0;
}

.task-buttons {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.delete {
    background: #ef4444;
}

.delete:hover {
    background: #dc2626;
}
